<div class="container">
    <img src = "https://cdn.pixabay.com/photo/2017/08/12/18/59/snack-2635035__340.jpg" alt="burger pic">
  <h1>{{ menu.title }}</h1>
  <dl class="list">
    <dt>Combo</dt>
    <dd>{{ menu.Combo }}</dd>
    <dt>Ingredients</dt>
    <dd>{{ menu.Ingredients }}</dd>
    <dt>Price</dt>
    <dd>{{ menu.Price }}</dd>
    <dt>Calories</dt>
    <dd>{{ menu.Calories }}</dd>
    <dt>Update Date</dt>
    <dd>{{ menu.updated_date | date:'short' }}</dd>
  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/items-edit', menu._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteItems(menu._id)">DELETE</button>
     </div>
</div>
