<div class="container">
  <h1>{{ menu.title }}</h1>
  <dl class="list">
    <dt>combo</dt>
    <dd>{{ menu.combo }}</dd>
    <dt>Ingredients</dt>
    <dd>{{ menu.ingredients }}</dd>
    <dt>Price</dt>
    <dd>{{ menu.price }}</dd>
    <dt>Calories</dt>
    <dd>{{ menu.calories }}</dd>
    <dt>Update Date</dt>
    <dd>{{ menu.updated_date | date:'short' }}</dd>
  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/items-edit', menu._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteItems(menu._id)">DELETE</button>
     </div>
</div>
