<div class="container">
  <h1>Wardawgz Menu
    <a [routerLink]="['/menu-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Combo</th>
        <th>Ingredients</th>
        <th>Calories</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.combo }}</td>
        <td>{{ item.ingredients }}</td>
        <td>{{ item.calories }}</td>
        <td>{{ item.price }}</td>
        <td><a [routerLink]="['/menu-details', item._id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
