<div class="container">
    <!-- <img ng-src="{{file:///C:/Users/MATT/WORKSPACE/wardawgz/Project%20pics%20of%20burger/burger1.jpg}}"> -->
    <!-- <img ng-src="file:///C:/Users/MATT/WORKSPACE/wardawgz/Project%20pics%20of%20burger/burger1.jpg}}"alt="Burger IMAGE"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> -->
      <div>  
      
      <img ng-src="file:///C:/Users/MATT/WORKSPACE/wardawgz/Project%20pics%20of%20burger/burger1.jpg" 
       ng model="file:///C:/Users/MATT/WORKSPACE/wardawgz/Project%20pics%20of%20burger/burger1.jpg" alt="Burger Image" />
    </div>
    <h1>Add New Menu Item</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveItems()" #menuForm="ngForm">
        <div class="form-group">
          <label for="name">Combo</label>
          <input type="text" class="form-control" [(ngModel)]="menu.combo" name="combo" required>
        </div>
        <div class="form-group">
          <label for="name">Ingredients</label>
          <input type="text" class="form-control" [(ngModel)]="menu.ingredients" name="ingredients" required>
        </div>
        <div class="form-group">
          <label for="name">Price</label>
          <input type="number" class="form-control" [(ngModel)]="menu.price" name="price" required>
        </div>
        <div class="form-group">
          <label for="name">Calories</label>
          <input type="number" class="form-control" [(ngModel)]="menu.calories" name="calories" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!menuForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
