<div class="container">
    
    <img src="https://cdn.pixabay.com/photo/2016/03/05/19/02/abstract-1238247__340.jpg" alt="burger pic">
    <img src ="https://cdn.pixabay.com/photo/2018/03/04/20/08/burger-3199088__340.jpg" alt="burger pic">
    <h1>Add New Menu Item</h1>
    <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveItems()" #menuForm="ngForm">
        <div class="form-group">
          <label for="name">Combo</label>
          <input type="text" class="form-control" [(ngModel)]="menu.combo" name="combo" required>
        </div>
        <div class="form-group">
          <label for="name">Ingredients</label>
          <input type="text" class="form-control" [(ngModel)]="menu.ingredients" name="ingredients" required>
        </div>
        <div class="form-group">
          <label for="name">Price</label>
          <input type="number" class="form-control" [(ngModel)]="menu.price" name="price" required>
        </div>
        <div class="form-group">
          <label for="name">Calories</label>
          <input type="number" class="form-control" [(ngModel)]="menu.calories" name="calories" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!menuForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
